@page "/layout-view"

<h3>LayoutViewDemonstrate</h3>

<LayoutView Layout="typeof(DarkLayout)">
    <Index></Index>
</LayoutView>
<LayoutView Layout="typeof(LightLayout)">
    <Index></Index>
</LayoutView>